
div{  /* значения по умолчанию */
    display: flex;  /* включили гибкое форматирование */
	max-height:100%;
}

 /*  делим  на колонки */
.centre, .section {
    flex-direction: column; /* направление главнеой оси в колонку */
}
.content, .line {
	flex-direction: row; /* направление главнеой оси в ряд*/
}

.content, .centre {
    justify-content: space-around; /* распределение содержимого  по главной оси */ 
}
.line{
    justify-content: center; /* распределение содержимого  по главной оси */ 
}

 /* общий размер листа - во весь экран, делим его на колонки */

.line, .centre, div[data-block='color']{
    align-items:center  ; /* выравнивание в поперечной оси */  
}

.content, .line{
    flex-wrap:wrap; /* перенос блоков */ 
}


