

body{
    background: url(/png/fon.jpg) repeat; /* Параметры фона */ 
    background-position:  var(--position_fon_x) var(--position_fon_y);
    transition: 5s; /* время трансформации*/
}

div[data-action='in_user'] {
    background: url(/png/in.png) no-repeat ;
    position: relative; 
}
div[data-action='out_user'] {
    background: url(/png/out.png) no-repeat;
     position: relative; 
}
div[data-action='check'] {
    background: url(/png/request.png) no-repeat;
    position: relative; 
}
div[data-action='story'] {
    background: url(/png/story.png) no-repeat;
    position: relative; 
}
div[data-action='read'] {
    background: url(/png/recovery_staff.png) no-repeat;
    position: relative;
}
div[data-action='bill'] {
    background: url(/png/bill.png) no-repeat;
    position: relative;
}
div[data-action='recovery'], div[data-gif='recovery'] {
    background: url(/png/recovery.png) no-repeat;
    position: relative;
}
div[data-action='new_user'], div[data-gif='new_user'] {
    background: url(/png/new_user.png) no-repeat;
    position: relative;
}
div[data-action] {
  width: 2em;
  height: 2em;
  background-size: 70%;
  background-position: center;
}

div[data-gif] {
  width: 1em;
  height: 1em;
  background-size: 70%;
  background-position: center;
}
