:root {/* создаем переменные*/
	--position_fon_x: 50%; /* положение фона по х*/
	--position_fon_y: 0%; /* положение фона по y*/
	--name_size: 40px; /* положение фона по х*/
	--name_font: serif; /* положение фона по y*/
	--name_color: #800080; /* положение фона по х*/
}
